label {
    cursor: pointer;
}

#arena {
    border: #e0dae7;
    border-width: 3px;
    border-style: solid;
    background-image: none;
    background-color: lightslategray;
    display: flex;
    position: relative;
    margin-block: 8px;
}

#double {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: x-large;
    background-color: black;
    font-weight: bold;
    z-index: 1000000;
}

#food {
    display: block;
    position: absolute;
    background-color: black;
    z-index: 1000000;
}

#header {
    display: flex;
    padding: 10px;
    align-items: center;
    overflow: wrap;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 80%;
    display: block;
    top: 0;
    left: 0;
    z-index: 100000000;
    align-items: center;
}

.popover {
    overflow: hidden;
    width: 80%;
    max-width: 300px;
    background-color: white;
    z-index: 100000001;
    position: absolute;
    border-radius: 90px;
    display: flex;
    left: 0;
    right: 0;
    margin-inline: auto;
    flex-wrap: wrap;
    color: #2d1e3e;
}

.pop-over-img {
    max-width: 290px;
    background-size: 100% 100%;
}

.start-button {
    height: 30px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #5a3973;
}

.gameModeDescription {
    font-size: 0.8em;
    margin-top: -2px;
    margin-bottom: 2px;
    padding-left: 31px;
    max-width: 200px;
    font-weight: normal;
}

.menuList {
    overflow-y: scroll;
    max-height: 125px;
    scrollbar-width: thin;
}

label {
    font-weight: bold;
}

#finalLabel {
    padding-bottom: 35px;
}

#padding-right-box {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .popover {
        top: 10%;
    }

    .gameModeDescription {
        max-width: 250px;
    }

    .popover-text {
        padding-block: 3px;
        width: -webkit-fill-available;
        padding-left: 20px;
    }

    .pop-over-img {
        width: -webkit-fill-available;
        border-radius: 90px;
        display: flex;
    }

    .testElement {
        background-color: lightblue;
    }

    #header {
        font-size: 1em;
    }

    #padding-right-box {
        padding-right: 20px;
    }

    .img_background {
        width: -webkit-fill-available;
    }
}

@media (min-width: 800px) {
    #padding-right-box {
        padding-right: 5px;
    }

    .popover {
        max-width: fit-content;
        top: 15%;
        display: -webkit-box;
    }

    .popover-message {
        max-width: 220px;
        overflow-wrap: normal;
    }

    .popover-text {
        justify-content: center;
        padding-left: 5px;
        padding-top: 50px;
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    .pop-over-img {
        width: 300px;
        height: 300px;
        border-radius: 90px;
        display: flex;
    }

    #header {
        font-size: 2em;
    }
}

#bandcamp-player {
    border: 0;
    width: 83px;
    height: 43px;
    padding: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1000000000;
    background: conic-gradient(from var(--angle, 0), transparent, white 10%, green 36%, transparent 40%)
}

button {
    cursor: pointer;
}

.download-card {
    display: none;
    background-color: #e0dae7;
    color: #261736;
    border: 1px solid #261736;
    padding: 2px 10px;
    transition: transform 0.1s ease;
}

.download-card:hover {
    transform: translateY(-1px);
    filter: brightness(1.1);
}

a {
    text-decoration: none;
    color: inherit;
}


.start-button-container {
    background: conic-gradient(from var(--angle, 0), transparent,
            #FF5733 5% 10%,
            #FFC300 15% 20%,
            #DAF7A6 25% 30%,
            #33C1FF 35% 40%,
            #2E86C1 45% 50%,
            #8E44AD 55% 60%,
            transparent 65%);
    border-radius: 30px;
    box-shadow: none;
    margin: auto;
    margin-bottom: 10px;
    padding: 3px;
    transition: transform 0.1s ease;
}

.start-button-container:hover {
    transform: translateY(-1px);
    filter: brightness(1.1);
}